@model IEnumerable<UserManagement.Models.UserLog>

@{
    ViewData["Title"] = "User Logs";
}

<h1>Index</h1>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>


<div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Description Sort by", "UserLogs", new { sortOrder = ViewBag.DescriptionSortParm, searchString = ViewBag.SearchString })
                </th>
                <th>
                    @Html.ActionLink("Date Sort by", "UserLogs", new { sortOrder = ViewBag.DateSortParm, searchString = ViewBag.SearchString })
                </th>
                <th></th>
            </tr>
            <tr>
                <th>
                    Action
                </th>
                <th>
                    Logged at
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                    DateTime date;
                    string? formattedDate = null;
                    if (DateTime.TryParse(item.CreatedAt, out date))
                    {
                        formattedDate = date.ToString("MMMM dd, yyyy, H:mm:ss");
                    }
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => formattedDate)
                    </td>
                        <td>
                            <a asp-action="LogDetails" asp-route-createdat="@item.CreatedAt">Log Details</a> |
                        </td>
                </tr>
            }
        </tbody>
    </table>
</div>
}
